*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family:'roboto',sans-serif;
}
h5{
    padding: 30px;
    max-width: 70%;
    line-height: 40px;
    font-size: 1.2rem;
    background-color: aquamarine;
    margin-bottom: 50px;
}
button{
    padding: 70px;
    font-size: 3rem;
    background-color: #fff;
    outline: #000 solid;
    margin: 20px;
}
button:hover{
    background-color: #000;
    outline: #fff solid;
    color: #fff;
}