*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family:'roboto',sans-serif;
}
h5{
    padding: 30px;
    max-width: 70%;
    line-height: 40px;
    font-size: 1.2rem;
    background-color: aquamarine;
    margin-bottom: 50px;
}
button{
    padding: 15px;
    font-size: 2.5rem;
    background-color: lightgray;
    outline: #000 solid;
    margin: 20px;

}
button:hover{
    background-color: #000;
    outline: #fff solid;
    color: #fff;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    width: 100%;
}
input{
    text-align: center;
    width: 140%;
    padding: 15px;
    font-size: 1rem;
}